@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Edit Co.</title>

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <!-- NAVBAR -->
    <header class="navbar">
        <div class="nav-left">
            <a href="/">Anasayfa</a>
            <a href="/Home/Products">Ürünler</a>
            <a href="#">Yeni Gelenler</a>
            <a href="#">Kampanyalar</a>
        </div>

        <div class="nav-logo">
            The Edit Co.
        </div>

        <div class="nav-right">
            <a href="/Favorites/Index" style="margin-right: 15px; text-decoration: none; color:black;">
                <i class="fa-regular fa-heart fa-lg"></i>
                <a href="/Cart/Index" style="margin-right: 15px; text-decoration: none; color: black;">
                    <i class="bi bi-bag" style="font-size: 1.3rem;"></i>
                </a>
                </a>
            </a>
            @if (Context.Session.GetString("UserEmail") == null)
            {
                <a href="/Account/Login">Giriş Yap / Üye Ol</a>
            }
            else
            {
                <a href="/Account/Profile">Profilim</a>
                <a href="/Account/Logout">Çıkış</a>
            }
        </div>
    </header>

    <!-- PAGE CONTENT -->
    <main>
        @RenderBody()
    </main>

    

</body>
</html>
