@{
    ViewData["Title"] = "Favorilerim";
}

<div class="text-center" style="margin-top: 50px;">
    <h2>❤️ Favori Ürünlerim</h2>
    <p>Beğendiğin ürünler burada listelenecek.</p>
    <br />
    <a href="/Home/Products" class="btn btn-primary">Alışverişe Başla</a>
</div>