* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

/* NAVBAR */
.navbar {
   
    position: absolute;
    top: 0;
    width: 100%;
    padding: 24px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(8px);
    z-index: 10;
}



    .navbar a {
     
    font-family: 'Inter', sans-serif;
    font-size: 15px; /* büyüttük */
    font-weight: 500; /* siliklik gitti */
    letter-spacing: 1px;
    color: #5a3f3f; /* daha net */
    text-decoration: none;
    margin-right: 28px;
    position: relative;
    transition: color 0.3s ease;
}


.nav-logo {
    
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #5a3f3f;
}

/* SCROLL */
.navbar.scrolled {
    background: rgba(255,255,255,0.85);
    backdrop-filter: blur(8px);
}

/* HERO */
.hero {
    
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("/images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 12%;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255,240,244,0.25);
}

..hero-content {
    max-width: 420px;
    text-align: left;
}



    .hero-content h1 {
        font-family: 'Playfair Display', serif;
        font-size: 64px;
        font-weight: 400;
        color: #6b4e4e;
        margin-bottom: 28px;
    }

/* BUTTON */
.hero-btn {
    padding: 14px 42px;
    border: 1px solid #6b4e4e;
    text-decoration: none;
    color: #6b4e4e;
    font-size: 13px;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
}

    .hero-btn:hover {
        background: #6b4e4e;
        color: #fff;
    }
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 1px;
    background-color: #5a3f3f;
    transition: width 0.3s ease;
}

.navbar a:hover {
    color: #3f2a2a;
}

    .navbar a:hover::after {
        width: 100%;
    }

.section {
    padding: 120px 80px;
}

    .section h2 {
        font-family: 'Playfair Display', serif;
        font-size: 42px;
        color: #5a3f3f;
        margin-bottom: 60px;
    }

.soft-bg {
    background-color: #f9f1f2;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.product-card {
    height: 360px;
    background-color: #f2e6e8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a28b8b;
    font-family: 'Inter', sans-serif;
}
.campaign-box {
    height: 420px;
    background-color: #f2e6e8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #a28b8b;
}
html {
    scroll-behavior: smooth;
}

