@{
    ViewData["Title"] = "Sepetim";
}

<div class="text-center" style="margin-top: 50px;">
    <i class="fa-solid fa-bag-shopping fa-4x text-muted mb-3"></i>

    <h2>Alışveriş Sepetin</h2>
    <p>Sepetinde henüz ürün yok.</p>

    <a href="/Home/Products" class="btn btn-dark mt-3">Alışverişe Devam Et</a>
</div>